/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
 */
/* .my-custom-card {
  color: #3d9b40;
  background-color: #f8f8f8;
  border: 1px solid #cfcccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
.my-title {
  color: #3d9b40;
}
.my-color-btn {
  color: #3d9b40;
  background-color: #f8f8f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.my-color-btn:hover {
  color: #48b74b;
  background-color: #cfcccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
